.container__about-me {
    margin: 50px 0px 50px 0px;
    padding: 20px;
    background-color: var(--gray-light);
  }
  
  .container__about-me h1 {
    font-size: 40px;
    margin-bottom: 30px;
    padding-left: 30px;

  }
  
  .container__about-me p {
    font-size: 20px;
    text-align: justify;
    padding: 30px;
  }

.about-me__assinatura {
    font-family: 'Alex Brush', cursive;
  }

@media screen and (max-width: 768px) {
  .container__about-me {
    padding: 30px;
  }

  .container__about-me h1 {
    font-size: 32px; 
  }

  .container__about-me p {
    font-size: 18px; 
    margin-bottom: 30px; 
  }

  .about-me__assinatura {
    font-size: 20px; 
  }
}
