.container__academic__education {
    background-color: var(--gray-light);
    padding: 50px 180px 50px 180px;
  }

.container__academic__education h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--gray-dark);
    font-size: 36px;
}

.academic__education {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.academic {
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.academic img {
    height: 90px;  
    margin: 55px;
}

.academic__description{
    color: var(--gray-dark);
}
.academic__description h3 { 
    font-size: 16px;
}

.academic__description p {
    font-size: 14px;
}

.academic:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


@media screen and (max-width: 768px) {
    .container__academic__education {
        padding: 30px; 
    }

    .container__academic__education h1 {
        font-size: 28px; 
    }

    .academic__education {
        flex-direction: column; 
    }

    .academic {
        width: 100%; 
        margin: 10px 0; 
    }

    .academic img {
        margin: 25px auto; 
    }

    .academic__description {
        text-align: center; 
    }

    .academic__description h3 {
        font-size: 20px; 
    }

    .academic__description p {
        font-size: 16px; 
    }
}
