

.container__contact {
	width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 0 30px 100px 30px;

}

.container__contact img {
    max-width: 400px;
	height: 508px;
	padding: 10px;
	border-radius: 20px;
}

.contact__form {
    padding: 20px;
	color: var(--gray-light);
}

.contact__form h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact__form p {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--gray-light);
    border-radius: 3px;
	outline: none;
}

textarea {
    resize: none;
}

button[type="submit"] {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-align: center;
    color: var(--pink);
    width: 120px;
}

button[type="submit"]:hover {
    background-color: var(--pink);
	color: var(--gray-light);
	transition: 0.5s;
}