

.container__contact {
	width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 0 30px 100px 30px;

}

.container__contact img {
    max-width: 400px;
	height: 508px;
	padding: 10px;
	border-radius: 20px;
}

.contact__form {
    padding: 20px;
	color: var(--gray-light);
}

.contact__form h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact__form p {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--gray-light);
    border-radius: 3px;
	outline: none;
}

textarea {
    resize: none;
}

button[type="button"] {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-align: center;
    color: var(--pink);
    width: 120px;
}

.contact__thank-message{
    color: var(--gray-light);
    font-size: 24px;
    text-align: center;
    padding: 40px;
    
}

@media screen and (max-width: 768px) {
    .container__contact {
        flex-direction: column; 
        padding: 30px; 
    }

    .container__contact img {
       display: none;
    }

    .contact__form {
        padding: 10px; 
    }

    .contact__form h2 {
        font-size: 24px; 
    }

    .contact__form p {
        font-size: 18px; 
        margin-bottom: 10px; 
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    input,
    textarea {
        width: 100%; 
    }

    button[type="button"] {
        width: auto; 
    }

    .contact__thank-message{
       
        font-size: 20px;
        
        
    }
}

