

.container__contact {
    display: flex;
    align-items: center;
	border: 1px solid var(--gray-light);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	margin: 0 160px;
	

}

.container__contact img {
    max-width: 400px;
	height: 508px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
   
}

.contact__form {
    padding: 20px;
	color: var(--gray-light);
	
}

.contact__form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact__form p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--gray-light);
    border-radius: 3px;
	

}

textarea {
    resize: none;
}

button[type="submit"] {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-align: center;
    color: var(--pink);
    width: 120px;
}

button[type="submit"]:hover {
    background-color: var(--pink);
	color: var(--gray-light);
	transition: 0.5s;
}