.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
    background-color: var(  --purple);
    color: var(--gray-light);
}

.header__name {
    display: flex;
    align-items: center;
}
  
.header__name h4 {
    margin: 0 10px;
    font-size: 26px;
}

.header__name img{
    filter: drop-shadow(0 0 0.3em #6c122982);
}
.header__icon {
    display: none;
}
  
.header__nav__a {
    text-decoration: none;
    cursor: pointer;
    color: var(--gray-light);
    margin-right: 1rem;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .container__header {
        flex-direction: column;
        padding: 25px 20px; 
    }

    .header__name h4 {
        font-size: 22px; 
    }

    .header__icon {
        display: block; 
        cursor: pointer;
        font-size: 24px; 
        margin-left: auto; 
    }

    .header__nav {
        display: none; 
        margin-top: 10px; 
    }

    .header__nav__a {
        display: block;
        margin: 5px 0;
        font-size: 20px; 
    }
}

.header__nav.show {
    display: block;
}

