.container__main{
    background-image: url(../img/bg-tu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

