.container__projects{
  padding: 100px;
  color: var(--gray-light);
}

.container__projects h1{
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}  

.projects__item{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.item--right{
  flex-direction: row-reverse;
}

.projects__item img{
  width: 500px ;
  height: 400px;
  border-radius: 10px;
}
.projects__item img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.projects__description{
  margin: 20px;
  padding: 50px;
  text-align: center;
}

.projects__description h2{
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--pink-light);
  text-align: center;
}
.projects__description p{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.btn-projetc{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid var(--gray-light);
    text-align: center;
    color: var(--gray-light);
    width: 120px;
    
}
.btn-projetc:hover{
  transform: scale(1.1);
    transition: 0.5s;
}

.btn-color:hover{
  background-color: var(--pink);
  color: var(--gray-light);
  transition: 0.5s;
}

@media screen and (max-width:1024px) {

  .projects__item {
      flex-direction: column; 
      align-items: center; 
  }

  .projects__item img {
      width: 80%; 
      height: auto; 
      border-radius: 10px;
  }

  .projects__description {
      margin: 20px;
      padding: 20px; 
      text-align: center;
  }

  .projects__description h2 {
      font-size: 22px; 
      margin-bottom: 10px; 
  }

  .projects__description p {
      font-size: 18px;
      margin-bottom: 10px; 
  }

  .btn-projetc {
      font-size: 16px; 
      padding: 8px 15px; 
      margin: 10px; 
  }
}


@media screen and (max-width: 768px) {
  .container__projects {
      padding: 50px;  
  }

  .container__projects h1 {
      font-size: 28px; 
  }

  .projects__item {
      flex-direction: column; 
      align-items: center; 
  }

  .item--right {
      flex-direction: column; 
  }

  .projects__item img {
      width: 100%; 
      height: auto; 
      border-radius: 10px;
  }

  .projects__description {
      margin: 20px;
      padding: 20px; 
      text-align: center;
  }

  .projects__description h2 {
      font-size: 22px; 
      margin-bottom: 10px; 
  }

  .projects__description p {
      font-size: 18px;
      margin-bottom: 10px; 
  }

  .btn-projetc {
      font-size: 16px; 
      padding: 8px 15px; 
      margin: 10px; 
  }
}
