:root {
  --black: #20262e;
  --black-red: #131114;
  --purple: #3b273a;
  --pink: #6d446f;
  --gray-light: #e9e8e8;
  --gray-dark: #212121;
  --pink-light: #C0AAD6;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-light);
  width: 100%;
}



@media screen and (max-width: 768px) {
  .menu__nav {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: var(--gray-light);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .menu__nav.active {
    display: block;
  }

  .menu__nav__a {
    display: block;
    text-decoration: none;
    color: var(--gray-dark);
    margin-bottom: 5px;
    font-size: 16px;
  }

  .container__menu {
    display: flex;
    align-items: center;
    padding: 20px 16px 20px 16px;
    position: relative;
  }

  .container__menu h4 {
    margin: 0 10px;
    font-size: 16px;
  }

  .menu__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 3;
  }

  .container__principal {
    padding: 25px 10px 25px 10px;
  }

  .container__principal a {
    font-size: 14px;
    padding: 8px;
    width: 72px;
  }

  .container__principal h1 {
    font-size: 35px;
  }

  .container__principal p {
    font-size: 14px;
  }

  .container__principal img {
    width: 200px;
  }
}

@media screen and (min-width: 330px) and (max-width: 630px) {
  .container__principal {
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px 10px 25px 10px;
  }

  .container__principal img {
    width: 170px;
  }

  .container__principal h1 {
    font-size: 25px;
    margin: 5px;
    margin-top: 10px;
  }

  .container__principal p {
    font-size: 14px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .container__principal a {
    font-size: 12px;
    padding: 8px;
    width: 72px;
    margin: 5px;
  }
}
