:root {
  --black: #20262e;
  --black-red: #131114;
  --purple: #3b273a;
  --pink: #6d446f;
  --gray-light: #e9e8e8;
  --gray-dark: #212121;
  --pink-light: #C0AAD6;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-light);
  width: 100%;
}

