:root {
    --black: #20262E;
    --purple: #913175;
    --pink: #CD5888;
    --gray-light: #E9E8E8;
    --gray-dark: #212121;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-light);
    width: 100%;
}

.container__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
    background-color: var(--purple);
    color: var(--gray-light);

}

.menu__name {
    display: flex;
    align-items: center;
}

.menu__name h4 {
    margin: 0 10px;
    font-size: 26px;
}

.menu__icon {
    display: none;
}

.menu__nav__a {
    text-decoration: none;
    cursor: pointer;
    color: var(--gray-light);
    margin-right: 1rem;
    font-size: 16px;

}

.container__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-dark);
    padding: 50px;

}

.container__principal h1,
.container__principal p{
    color: var(--gray-light);
    margin: 20px;

}

.container__principal a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--purple);
    transition: 0.5s;
   
    color: var(--gray-light);
}
.container__principal h1 {
    font-size: 45px;
}

.container__principal p {
    font-size: 20px;
}

.container__principal img {
    border-radius: 50%;
    width: 360px;
 
    
}

.footer {
    background-color: var(--purple);
    color: var(--gray-light);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.c-footer_icon {
    margin: 8px;
    width: 24px;
}

@media screen and (max-width: 768px) {
    .menu__nav {
        display: none;
        position: absolute;
        top: 90%;
        right: 0;
        background-color: var(--gray-light);
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .menu__nav.active {
        display: block;
    }

    .menu__nav__a {
        display: block;
        text-decoration: none;
        color: var(--gray-dark);
        margin-bottom: 5px;
        font-size: 16px;
    }

    .container__menu {
        display: flex;
        align-items: center;
        padding: 20px 16px 20px 16px;
        position: relative; 
    }

    .container__menu h4 {
        margin: 0 10px;
        font-size: 16px;
    }

    .menu__icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        z-index: 3; 
    }

    .container__principal {
        align-items: center;
    }

    .container__principal img {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}
