:root {
  --black: #20262e;
  --black-red: #131114;
  --purple: #3b273a;
  --pink: #553856;
  --gray-light: #e9e8e8;
  --gray-dark: #212121;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-light);
  width: 100%;
}

.container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px 25px 100px;
  background-color: var(--black-red);
  color: var(--gray-light);
}

.menu__name {
  display: flex;
  align-items: center;
}

.menu__name h4 {
  margin: 0 10px;
  font-size: 26px;
}

.menu__icon {
  display: none;
}

.menu__nav__a {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-light);
  margin-right: 1rem;
  font-size: 20px;
}

.container__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: url(../assets/img/bg-tu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 100px 50px 80px;
}

.container__principal h1,
.container__principal p {
  color: var(--gray-light);
  margin: 20px;
}

.container__principal a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--purple);
  transition: 0.5s;
  text-align: center;
  color: var(--gray-light);
  width: 100px;
}

.container__principal a:hover {
  background-color: var(--pink);
  color: var(--gray-light);
  transition: 0.5s;
}

.container__principal h1 {
  font-size: 45px;
}

.container__principal p {
  font-size: 20px;
  margin-bottom: 50px;
}

.container__principal img {
  border-radius: 50%;
  width: 330px;
}

.container__sobre {
  margin: 50px 180px 50px 180px;
}

.container__sobre h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.container__sobre p {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: justify;
}

.sobre__assinatura {
  font-family: 'Alex Brush', cursive;
}

.container__skills__hobbies {
  background: var(--black-red);
  padding: 50px 180px 50px 180px;
}

.container__skills__hobbies h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--gray-light);
  font-size: 36px;
}

.container__skills__hobbies img {
  width: 80px;
  transition: 0.5s;
}

.container__skills__hobbies p {
  font-size: 16px;
  color: var(--gray-light);
  text-align: center;
}

.container_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__formacao {
  background-color: var(--gray-light);
  padding: 50px 180px 50px 180px;
}

.container__formacao h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--gray-dark);
  font-size: 36px;
}

.formacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formacao {
  width: 300px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.formacao img {
  height: 90px;  
  margin: 55px;
}

.formacao__descricao{
  color: var(--gray-dark);
}
.formacao__descricao h3 { 
  font-size: 16px;
}

.formacao__descricao p {
  font-size: 14px;
}
.container__projetos{
  background-image: url(../assets/img/bg-tu.png);
  background-size: cover;
  color: var(--gray-light);
}
.projeto__item img{
  width: 400px ;
}

.footer {
  background-color: var(--purple);
  color: var(--gray-light);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.c-footer_icon {
  margin: 8px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .menu__nav {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: var(--gray-light);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .menu__nav.active {
    display: block;
  }

  .menu__nav__a {
    display: block;
    text-decoration: none;
    color: var(--gray-dark);
    margin-bottom: 5px;
    font-size: 16px;
  }

  .container__menu {
    display: flex;
    align-items: center;
    padding: 20px 16px 20px 16px;
    position: relative;
  }

  .container__menu h4 {
    margin: 0 10px;
    font-size: 16px;
  }

  .menu__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 3;
  }

  .container__principal {
    padding: 25px 10px 25px 10px;
  }

  .container__principal a {
    font-size: 14px;
    padding: 8px;
    width: 72px;
  }

  .container__principal h1 {
    font-size: 35px;
  }

  .container__principal p {
    font-size: 14px;
  }

  .container__principal img {
    width: 200px;
  }
}

@media screen and (min-width: 330px) and (max-width: 630px) {
  .container__principal {
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px 10px 25px 10px;
  }

  .container__principal img {
    width: 170px;
  }

  .container__principal h1 {
    font-size: 25px;
    margin: 5px;
    margin-top: 10px;
  }

  .container__principal p {
    font-size: 14px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .container__principal a {
    font-size: 12px;
    padding: 8px;
    width: 72px;
    margin: 5px;
  }
}
